/* Your Awesome Styling*/

* {
    box-sizing: border-box;
}

body {
  display: flex;
  flex-flow: nowrap column;
  width: 100%;
  height: 100%;
  padding: 7em;
  margin: 0;
  display: flex;
  flex-direction: row;
  background: linear-gradient(to bottom right, #bf80ff, #ff8bd2, #FFAEF2, #ACF0F2, #91ffe1);
  background-repeat: no-repeat;
  background-size: 1000% 1000%;
  animation: gradient 30s ease infinite;
}

h1 {
    position: relative;
    float: top;
}

form {
    display: flex;
    flex-flow: column wrap;
    padding-left: .5em;
}

label {
    padding: .5em;
}

input {
    padding: .2em;
    margin: .5em;
}

/* Navigation */

header nav {
  position: fixed;
  left
  margin: 10px;
  width: 80px;
  left: 0;
  top: 0;
}

nav {
  display: flex;
  width: 50px;
  width: 100%;
  flex-flow: column;
  position: fixed;
  margin-top: 0;

}

nav a {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  height: 90px;
  width: 90px;
  text-decoration: none;
  color: black;
}



nav a:visited {
    color: black;
}


/* Gallery */

article {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

article section {
  padding: 1em;
  margin-right: 10px;
  width: 20%;
}

.gallery {
  display: inline-flex;
  margin: 0;
  padding: 1em;
  width: 12em;
  justify-content: space-around;
}
  
.overlay {
  display: none;
  background: rgba(0,0,0,.25);
  position: absolute;
  height: 100%;
  width: 100%;
  top:0;
  left:0;
  
}

.overlay:target {
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  min-height: 50vh;
  animation: gallery ease 1s;
}

.overlay img {
  border: 10px solid #000;
  border-radius: 10px;
  box-shadow: 0 0 20px #333;

}


/* Animations */

@keyframes gallery {
  0% { 
    opacity: 0;
    transform: scale(0);
  }
  
  100% { 
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes gradient { 
  0%{background-position:0% 0%}
  50%{background-position:100% 100%}
  100%{background-position:0% 0%}
}

/* gradient animation originally by Gavyn Caldwell */
