/* Your Awesome Styling*/

/* Bio and Resume */

.bio #bio {
    background: lavender;
    display: flex;
    justify-content: space-between;
    margin: 5px;
    padding: 5px;
}

.bio #bio section {
    margin: 0 10px;
    width: 50%;
}

.bio section:nth-child(1) {
    width: 300px;
}

.bio #resume {
    background: lavender;
    background-image: linear-gradient(lavender, lightcyan);
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
}

.bio #resume section {
    flex: 20%;
    
}


/* Form */

form {
  background: aliceblue;
  width: 200px;
}

label, input {
  display: block;
    margin: 1EM;
  width: auto;
}

input [type="submit"] {
    border: 0;
}


/* Diagnostic Styling */

/* Mobile: 320px = 20em */
@media screen and (min-width: 20em) { 

  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Mobile Size";
  }
  
}

/* Tablet:  768px = 160em */
@media screen and (min-width: 48em)  {

  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Tablet Size";
  }

}

/* Desktop: 1280px = 80em */
@media screen and (min-width: 80em) { 
  
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Desktop Size";
  }

}
